* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.main-title {
  color: #1d1730;
  letter-spacing: 3px;
  font-size: 72px;
}

.app {
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(#c7c7c7 25%, #c7c7c7 74%);
  padding: 25px;
  border-radius: 5px;
  width: 75rem;
}

button {
  padding: 5px;
  border-radius: 5px;
  width: 10%;
  cursor: pointer;
}

.btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 20px 0;
  font-size: 22px;
}
.btn-preview {
  color: #ebfbee;
  background-color: #2f9e44;
  border: none;
}
.btn-create {
  color: #fff5f5;
  background-color: #e03131;
  border: none;
}
